# .github/workflows/docker-ci.yml

name: Docker CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Set image tag (using short SHA)
        id: meta
        run: echo "TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT
        
      # [핵심] Docker 이미지 빌드 및 Push
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: . # C:\movies (루트)를 컨텍스트로 사용
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/johnwick-backend:${{ steps.meta.outputs.TAG }}, ${{ secrets.DOCKER_USERNAME }}/johnwick-backend:latest
          file: ./backend/Dockerfile # Dockerfile 경로 지정